@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-sans: var(--font-geist-sans), system-ui, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 9%;
  }

  .dark {
    --background: 0 0% 9%;
    --foreground: 0 0% 98%;
  }

  html,
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}
